# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.swp

# Setup
.env
.venv
*.env
*.venv
.env.*
.venv.*

# System
.DS_Store
Thumbs.db

# Etc
*.log
*.bak
*.tmp
*.orig
*.old

# Ignore everything in the data directory except specific files
data/*

!data/gsm8k/train.txt